source https://nuget.org/api/v2

nuget FsCheck
nuget FsCheck.Xunit
nuget FSharp.Core 4.6.2
nuget FSharp.Control.AsyncSeq
nuget FAKE 4.63.2 restriction: >= net461
nuget FSharp.Data 2.4.6
nuget IronSde
nuget log4net
nuget Microsoft.Extensions.CommandLineUtils 1.1.1 restriction: >= net461
nuget mongocsharpdriver 2.5.0
nuget suave
nuget xunit
nuget xunit.runner.console
nuget xunit.runner.visualstudio